.list {
  margin: 20px;

  .items {
    gap: 1rem;

    .item {
      min-width: 500px;
      background-color: #e4e4e4;
      max-width: 606px;
    }

    .mobile-item {
      background-color: #e4e4e4;
      width: 100%;
    }
  }
}

.lien {
  text-decoration: none;
  color: inherit;
}
