<div fxLayout="column nowrap" class="list" fxLayoutGap="20px">
  <div fxLayout="row nowrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxLayoutGap.lt-sm="20px">
    <button mat-raised-button color="primary" (click)="navigate()">Créeer un article</button>
    <span fxLayout="row nowrap">
      <p><strong>Trier par</strong></p>
      <mat-icon>arrow_downward</mat-icon>
    </span>
  </div>

  <div class="items mt2" fxLayout="row wrap" fxLayout.lt-md="column">
    <mat-card class="item" *ngFor="let article of (articles$ | async)" fxFlex>
      <mat-card-header>
        <mat-card-title>{{ article.titre }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span fxLayout="row nowrap">
          <p style="margin-right:40% ;">{{article.createdAt | date:'YYYY-MM-dd'}}</p>
          <p>{{article.auteur.userName}}</p>
        </span>
        <p>
          {{ article.contenu }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
