<div fxLayout="column nowrap" class="list" fxLayoutGap="20px">
  <div fxLayout="row nowrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxLayoutGap.lt-sm="20px">
    <button mat-raised-button color="primary" (click)="navigate()">Créeer un article</button>
    <span fxLayout="row nowrap" style="cursor: pointer;" (click)="toggleTri()">
      <p><strong>Trier par</strong></p>
      <mat-icon>{{ triRecent ? 'arrow_downward' : 'arrow_upward' }}</mat-icon>
    </span>
  </div>

  <div class="items" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="center">
    <mat-card [ngClass.lt-md]="'mobile-item'" [ngClass.gt-sm]="'item'" *ngFor="let article of (articles$ | async)"
      fxFlex>
      <a class="lien"  [routerLink]="['/article', article.id]">
        <mat-card-header>
          <mat-card-title>{{ article.titre }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <span fxLayout="row nowrap" fxLayoutGap="40px">
            <p>{{article.createdAt | date:'YYYY-MM-dd'}}</p>
            <p>{{article.auteur.userName}}</p>
          </span>
          <p>
            {{ article.contenu}}
          </p>
        </mat-card-content>
      </a>
    </mat-card>
  </div>
</div>
