.input-field-article {
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  border-color: #673ab7;
  padding: 10px;
  margin: -0.75em 0;
}


.custom-icon.mat-icon {
  height: 45px;
  width: 45px;
  font-size: xxx-large;
  margin-left: 30px;
}
