<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start" style="margin-top: 20px ;" fxLayoutGap="10px">

  <mat-icon onclick="history.back()" class="custom-icon">keyboard_backspace</mat-icon>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
    <h1 fxLayoutAlign.gt-sm="center center" fxFlexAlign="center">Créer un nouvel article</h1>
    <form *ngIf="articleForm" [formGroup]="articleForm" (ngSubmit)="submit()" [ngStyle.lt-md]="'width: 100%;'"
    [ngStyle.gt-sm]="'width: 50%;'" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" >


        <mat-form-field appearance="outline" class="input-field-article">
          <mat-label>Sélectionner un thème</mat-label>
          <mat-select disableRipple formControlName="theme">
            <mat-option *ngFor="let theme of (themes$ | async)" [value]="theme">
              {{ theme.titre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field-article">
          <input matInput placeholder="Titre de l'article" formControlName="titre">
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field-article">
          <textarea matInput placeholder="Contenu de l'Article" style="height: 120px;"
            formControlName="contenu"></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="articleForm.invalid">
          Créer
        </button>
    </form>
  </div>
</div>
