<div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5px" [ngStyle.gt-sm]="'margin-left: 30px;'"
  [ngStyle.lt-md]="'padding: 10px;'">

  <mat-icon fxHide.lt-md onclick="history.back()" class="custom-icon">keyboard_backspace</mat-icon>

  <div *ngIf="article" [ngClass.gt-sm]="'detail'" fxLayout="column" fxLayoutAlign="start" style="width: 100%;">
    <span fxLayout="row" fxLayoutGap="10px">
      <mat-icon fxHide.gt-sm onclick="history.back()" class="custom-icon">keyboard_backspace</mat-icon>
      <h1 *ngIf="article" style="font-size: 30px;">{{ article.titre}}</h1>
    </span>

    <span fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="30px">
      <p>{{article.createdAt | date:'YYYY-MM-dd'}}</p>
      <p>{{article.auteur.userName}}</p>
      <p>{{article.theme.titre}}</p>
    </span>
    <p>
      {{ article.contenu}}
    </p>
    <hr>
    <h3>Commentaires</h3>
    <div fxLayout="column" fxFlexAlign="end end" [ngClass.gt-sm]="'Liste-commentaire'"
      ngClass.lt-md="'Liste-commentaire-mobile'">
      <div [ngClass.gt-sm]="'commentaire-container'" [ngClass.lt-sm]="'commentaire-container-mobile'"
        *ngFor=" let commentaire of (article.commentaires) ">
        <p>{{commentaire.auteur.userName}}</p>
        <div [ngClass.lt-md]="'commentaire-contenu-mobile'" [ngClass.gt-sm]="'commentaire-contenu'">
          {{commentaire.contenu}}
        </div>
      </div>
    </div>
    <div style="width: 100%;">
      <form *ngIf="commentaireForm" [formGroup]="commentaireForm" (ngSubmit)="envoyer()" class="champs-commentaire">
        <mat-form-field class="custom-textarea" appearance="outline">
          <textarea matInput placeholder="Ecrivez ici votre commentaire" formControlName="contenu"></textarea>
        </mat-form-field>
        <div class="icon-aligne">
          <button type="submit" mat-icon-button>
            <mat-icon class="icon-custom" color="primary">send</mat-icon>
          </button>
        </div>
      </form>
    </div>
  </div>



</div>
