.item {
  min-width: 500px;
  max-width: 80%;
  padding-left: 65px;
}

.mobile-item {
  margin: 20px;
}

.custom-icon.mat-icon {
  height: 45px;
  width: 45px;
  font-size: xxx-large;
}

hr {
  border: 1px solid black;
  width: 100%;
  margin: 20px 0;
}
